body{
    font-family: 'Nanum Pen Script', cursive;
    font-weight: 600;
    font-size: 1.3em;
}
.editable{
	height: 320px;
    display: inline-block;
	float:left;
}

.Demo{
	float:right;
}
.changeable{
    width: 50%;
    display: inline-block;
}
.code{
    float:right;
}